## 数据准备工作

In [1]:
from jaqs_fxdayu.util import dp
from jaqs.data.dataapi import DataApi

start = 20160101
end = 20180101

api = DataApi(addr='tcp://data.tushare.org:8910')
api.login("18810907608", 
          'eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1MjMwNjkzMTUwMTMiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTg4MTA5MDc2MDgifQ.vfuIK0ymwFD5cAlgCmyl7BW_-2qJFWvNeNVY5qhoQdA')

ZZ800_id = dp.index_cons(api, "000906.SH", start, end)

stock_symbol = list(set(ZZ800_id.symbol.values))

In [2]:
import jaqs_fxdayu
jaqs_fxdayu.patch_all()
from jaqs.data import DataView
from jaqs.data import RemoteDataService
from jaqs_fxdayu.data.dataservice import LocalDataService
import os
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

dataview_folder = r'data'
dv = DataView()
ds = LocalDataService(fp=dataview_folder)


factor_list = ['volume']
check_factor = ','.join(factor_list)

dv_props = {'start_date': start, 'end_date': end, 'symbol':','.join(stock_symbol),
         'fields': check_factor,
         'freq': 1,
         "prepare_fields": True}

dv.init_from_config(dv_props, data_api=ds)
dv.prepare_data()

C:\Program Files\Anaconda3\lib\importlib\__init__.py:126: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  return _bootstrap._gcd_import(name[level:], package, level)
C:\Program Files\Anaconda3\lib\site-packages\jaqs\research\signaldigger\plotting.py:10: UserWarning:
This call to matplotlib.use() has no effect because the backend has already
been chosen; matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

The backend was *originally* set to 'module://ipykernel.pylab.backend_inline' by the following code:
  File "C:\Program Files\Anaconda3\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Program Files\Anaconda3\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Program Files\Anaconda3\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "C:\Program Files\Anaconda3\lib\site-packages\traitlets\config\application.py", line 658, in launch_instance
    app.start()
  File "C:\Program Files\Anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 486, in start
    self.io_loop.start()
  File "C:\Program Files\Anaconda3\lib\site-packages\zmq\eventloop\ioloop.py", line 177, in start
    super(ZMQIOLoop, self).start()
  File "C:\Program Files\Anaconda3\lib\site-packages\tornado\ioloop.py", line 888, in start
    handler_func(fd_obj, events)
  File "C:\Program Files\Anaconda3\lib\site-packages\tornado\stack_context.py", line 277, in null_wrapper
    return fn(*args, **kwargs)
  File "C:\Program Files\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 440, in _handle_events
    self._handle_recv()
  File "C:\Program Files\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 472, in _handle_recv
    self._run_callback(callback, msg)
  File "C:\Program Files\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 414, in _run_callback
    callback(*args, **kwargs)
  File "C:\Program Files\Anaconda3\lib\site-packages\tornado\stack_context.py", line 277, in null_wrapper
    return fn(*args, **kwargs)
  File "C:\Program Files\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 283, in dispatcher
    return self.dispatch_shell(stream, msg)
  File "C:\Program Files\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 233, in dispatch_shell
    handler(stream, idents, msg)
  File "C:\Program Files\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 399, in execute_request
    user_expressions, allow_stdin)
  File "C:\Program Files\Anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 208, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "C:\Program Files\Anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 537, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "C:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2728, in run_cell
    interactivity=interactivity, compiler=compiler, result=result)
  File "C:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2850, in run_ast_nodes
    if self.run_code(code, result):
  File "C:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2910, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-1-70e03a4a5753>", line 1, in <module>
    from jaqs_fxdayu.util import dp
  File "C:\Program Files\Anaconda3\lib\site-packages\jaqs_fxdayu\__init__.py", line 4, in <module>
    import matplotlib.pyplot  # 防止被JAQS重载
  File "C:\Program Files\Anaconda3\lib\site-packages\matplotlib\pyplot.py", line 71, in <module>
    from matplotlib.backends import pylab_setup
  File "C:\Program Files\Anaconda3\lib\site-packages\matplotlib\backends\__init__.py", line 16, in <module>
    line for line in traceback.format_stack()


  mpl.use('Agg')

Initialize config success.
Query data...
Query data - query...
NOTE: price adjust method is [post adjust]
当前请求daily...
{'adjust_mode': None, 'fields': 'high,open,volume,trade_date,symbol,vwap_adj,low_adj,close_adj,open_adj,close,vwap,trade_status,low,high_adj'}
下载进度946/981.
当前请求daily...
{'adjust_mode': 'post', 'fields': 'open,high,close,vwap,low,symbol,trade_date'}
下载进度946/981.
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - daily fields prepared.
Query instrument info...
Query adj_factor...
Data has been successfully prepared.

## Spearman Check

In [3]:
import scipy.stats as scst
import jaqs.util as jutill


def spearman_factor(factor_u='factor_u', factor_j='factor_j', start=20160101, symbol=stock_symbol):
    factors = dict()
    factors["factor_u"] = dv.get_ts(factor_u).loc[start:][stock_symbol].stack()
    factors["factor_j"] = dv.get_ts(factor_j).loc[start:][stock_symbol].stack()

    factors_df = pd.concat(factors.values(),axis=1)
    factors_df.columns = factors.keys()
    factors_df = jutill.fillinf(factors_df).dropna()

    # 两个因子的spearman相关性
    def get_factors_daily_corr(factors_df,
                               f1="factor_u",
                               f2="factor_j"):
        def _cal_corr(df):
            return scst.spearmanr(df[f1], df[f2])[0]

        result = factors_df.groupby(['trade_date']).apply(_cal_corr)
        result = pd.DataFrame(result)
        result.columns = ['spearmanr']
        return result

    result = get_factors_daily_corr(factors_df,"factor_u","factor_j")
    t_stat, p_value = scst.ttest_1samp(result, 0)
    return result.mean(), p_value # 相关关系均值,相关关系均值的ｔ统计量的p_value

## 1.alpha16

(-1 * TSMAX(RANK(CORR(RANK(VOLUME), RANK(VWAP), 5)), 5))

In [4]:
dv.add_formula("alpha16","-1*Ts_Max(Correlation(volume,vwap,5),5)", is_quarterly=False,add_data=True).tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000025.SZ,000027.SZ,000028.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,-0.571601,-0.685176,NaN,-0.949524,-0.670347,-0.927584,-0.344860,-0.557009,-0.958165,-0.726091,...,-0.131188,0.531657,-0.608483,-0.457524,-0.843852,-0.445449,-0.895802,-0.914635,-0.822197,-0.723221
20171226,-0.354068,-0.685176,NaN,-0.949524,-0.745396,-0.927584,-0.344860,-0.557009,-0.958165,-0.726091,...,0.311002,-0.780899,-0.608483,-0.457524,-0.664253,-0.771843,-0.895802,-0.914635,-0.822197,-0.655612
20171227,-0.354068,-0.685176,NaN,-0.830672,-0.745396,-0.927584,-0.369475,-0.557009,-0.953240,-0.726091,...,0.229777,-0.780899,-0.608483,-0.457524,-0.574443,-0.771843,-0.895802,-0.914635,-0.822197,-0.798739
20171228,-0.202101,-0.570724,NaN,-0.830672,-0.745396,-0.703115,-0.369475,-0.557009,-0.959084,-0.726091,...,-0.011985,-0.780899,-0.345067,-0.214676,-0.469082,-0.867894,-0.830869,-0.914635,-0.822197,-0.957550
20171229,-0.230078,-0.570724,NaN,-0.830672,-0.745396,-0.977025,-0.523960,-0.557009,-0.959084,-0.726091,...,-0.726244,-0.780899,-0.406864,-0.094687,-0.874494,-0.867894,-0.383541,-0.885486,-0.379943,-0.957550

## 2.TotalProfitCostRatio

成本费用利润率=利润总额/(营业成本+财务费用+销售费用+管理费用)

In [5]:
dv.add_field('tot_profit',ds) #利润总额

Query data - query...
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - quarterly fields prepared.
Query data - query...
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - quarterly fields prepared.

True

In [6]:
dv.add_field('less_oper_cost',ds) #营业成本

Query data - query...
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - quarterly fields prepared.

True

In [7]:
dv.add_field('less_fin_exp',ds) #财务费用

Query data - query...
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - quarterly fields prepared.

True

In [8]:
dv.add_field('less_selling_dist_exp',ds) #销售费用

Query data - query...
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - quarterly fields prepared.

True

In [9]:
dv.add_field('less_gerl_admin_exp',ds) #管理费用

Query data - query...
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - quarterly fields prepared.

True

In [10]:
dv.add_formula("TotalProfitCostRatio_J","tot_profit/(less_oper_cost+less_fin_exp+less_selling_dist_exp+less_gerl_admin_exp)",
               is_quarterly=True,add_data=True).tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000025.SZ,000027.SZ,000028.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
20171225,1.172607,0.231574,0.264298,0.189553,0.100415,0.124535,0.057484,0.185283,0.126067,0.036123,...,0.18955,0.170479,0.186451,0.42715,0.05751,0.076731,0.206005,0.22974,0.145177,0.24843
20171226,1.172607,0.231574,0.264298,0.189553,0.100415,0.124535,0.057484,0.185283,0.126067,0.036123,...,0.18955,0.170479,0.186451,0.42715,0.05751,0.076731,0.206005,0.22974,0.145177,0.24843
20171227,1.172607,0.231574,0.264298,0.189553,0.100415,0.124535,0.057484,0.185283,0.126067,0.036123,...,0.18955,0.170479,0.186451,0.42715,0.05751,0.076731,0.206005,0.22974,0.145177,0.24843
20171228,1.172607,0.231574,0.264298,0.189553,0.100415,0.124535,0.057484,0.185283,0.126067,0.036123,...,0.18955,0.170479,0.186451,0.42715,0.05751,0.076731,0.206005,0.22974,0.145177,0.24843
20171229,1.172607,0.231574,0.264298,0.189553,0.100415,0.124535,0.057484,0.185283,0.126067,0.036123,...,0.18955,0.170479,0.186451,0.42715,0.05751,0.076731,0.206005,0.22974,0.145177,0.24843

In [11]:
dv.add_field('TotalProfitCostRatio',ds)

Query data - query...
当前请求query...
{'fields': 'TotalProfitCostRatio', 'view': 'factor'}
下载进度946/981.
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - daily fields prepared.

True

In [12]:
print(spearman_factor(factor_u='TotalProfitCostRatio', factor_j='TotalProfitCostRatio_J', start=20160101, symbol=stock_symbol))

(spearmanr    0.904023
dtype: float64, array([ 0.]))

## 3.SuperQuickRatio

超速动比率=（货币资金+交易性金融资产+应收票据+应收账款+其他应收款）/流动负债合计

In [13]:
dv.add_field('monetary_cap',ds) #货币资金

Query data - query...
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - quarterly fields prepared.

True

In [14]:
dv.add_field('tradable_assets',ds) #交易性金融资产

Query data - query...
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - quarterly fields prepared.

True

In [15]:
dv.add_field('notes_rcv',ds) #应收票据

Query data - query...
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - quarterly fields prepared.

True

In [16]:
dv.add_field('acct_rcv',ds) #应收账款

Query data - query...
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - quarterly fields prepared.

True

In [17]:
dv.add_field('other_rcv',ds) #其他应收款

Query data - query...
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - quarterly fields prepared.

True

In [18]:
dv.add_field('tot_cur_liab',ds) #流动负债合计

Query data - query...
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - quarterly fields prepared.

True

In [19]:
dv.add_formula("SuperQuickRatio_J","(monetary_cap+tradable_assets+notes_rcv+acct_rcv+other_rcv)/tot_cur_liab",
               is_quarterly=True,add_data=True).tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000025.SZ,000027.SZ,000028.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
20171225,NaN,0.313994,0.590948,0.972758,0.859139,0.450514,0.93456,0.450016,0.464046,1.105492,...,1.266923,0.966478,2.191679,1.197717,0.550013,0.726834,0.735043,5.36576,0.918691,2.338653
20171226,NaN,0.313994,0.590948,0.972758,0.859139,0.450514,0.93456,0.450016,0.464046,1.105492,...,1.266923,0.966478,2.191679,1.197717,0.550013,0.726834,0.735043,5.36576,0.918691,2.338653
20171227,NaN,0.313994,0.590948,0.972758,0.859139,0.450514,0.93456,0.450016,0.464046,1.105492,...,1.266923,0.966478,2.191679,1.197717,0.550013,0.726834,0.735043,5.36576,0.918691,2.338653
20171228,NaN,0.313994,0.590948,0.972758,0.859139,0.450514,0.93456,0.450016,0.464046,1.105492,...,1.266923,0.966478,2.191679,1.197717,0.550013,0.726834,0.735043,5.36576,0.918691,2.338653
20171229,NaN,0.313994,0.590948,0.972758,0.859139,0.450514,0.93456,0.450016,0.464046,1.105492,...,1.266923,0.966478,2.191679,1.197717,0.550013,0.726834,0.735043,5.36576,0.918691,2.338653

In [20]:
dv.add_field('SuperQuickRatio',ds)

Field name [SuperQuickRatio] not valid, ignore.

False

data里没有找到SuperQuickRatio

## 4.revs10

revs10=close_t/close_t-10

In [21]:
dv.add_formula("REVS10_J","close/Delay(close,10)", is_quarterly=False,add_data=True).tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000025.SZ,000027.SZ,000028.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,0.981481,1.014701,1.0,0.990698,0.962416,0.922551,1.017223,0.950750,0.995074,1.010077,...,1.056388,0.951710,0.986041,1.052389,0.921752,1.065560,1.055112,0.966222,1.017048,0.949853
20171226,1.049155,1.031451,1.0,1.044153,0.972936,0.937358,1.063193,0.957722,1.006633,1.042958,...,1.026191,1.001544,1.014212,1.051304,0.965004,1.144518,1.075199,0.965840,1.004527,0.935860
20171227,1.012186,1.028390,1.0,1.050602,0.971660,0.922990,0.992497,0.962425,0.998347,1.061726,...,1.014796,0.972999,0.988564,1.004929,0.974843,1.088391,1.001372,0.940795,0.958899,0.970414
20171228,1.016154,1.019595,1.0,1.042118,0.988981,0.934932,0.987539,0.964868,0.996694,1.062522,...,0.979174,0.978538,0.970993,1.001901,1.022089,1.017034,1.010922,0.963629,0.949307,1.026354
20171229,1.045597,1.066987,1.0,1.049161,0.991770,1.009558,1.003093,0.970514,0.991817,1.069590,...,0.991184,0.983562,0.991351,1.025728,1.008181,1.054402,1.052306,0.984186,0.996766,1.037707

In [22]:
dv.add_field('REVS10', ds)

Query data - query...
当前请求query...
{'fields': 'REVS10', 'view': 'factor'}
下载进度946/981.
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - daily fields prepared.

True

In [23]:
print(spearman_factor(factor_u='REVS10', factor_j='REVS10_J', start=20160101, symbol=stock_symbol))

(spearmanr    0.984277
dtype: float64, array([ 0.]))

## 5.CCI10

In [24]:
dv.add_formula("CCI10_J", "Ta('CCI',0,open,high,low,close,volume,10)", is_quarterly=False,add_data=True).tail()

,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000025.SZ,000027.SZ,000028.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,85.964912,147.073117,66.666667,67.226891,-40.095751,-68.649458,-12.868410,-142.885407,42.389210,169.890511,...,66.562926,-115.185708,-71.919192,87.622970,-183.014862,44.085418,82.178599,-184.220754,-101.081917,-86.890244
20171226,89.389671,100.800625,66.666667,152.730375,-80.434783,-54.263566,-38.333333,-101.725164,-32.921811,118.650436,...,7.830880,17.041258,-66.881720,45.030203,-155.866900,113.192277,42.028986,-114.367816,-178.907721,-116.712329
20171227,52.616927,105.277221,66.666667,165.903308,4.451039,-57.471264,-173.902728,-76.591652,-49.145299,115.767140,...,-123.624987,-40.289371,-33.064082,-45.106108,-91.629073,48.302496,-11.662315,-114.749035,-170.203912,-6.220506
20171228,-4.975124,68.884664,66.666667,95.645412,-20.285088,-55.054152,-106.461538,-56.169203,-109.014675,105.366876,...,-137.039466,-92.705882,-84.688347,-46.865672,21.722075,-57.928566,71.658615,-81.393625,-132.201646,195.273632
20171229,-7.835581,105.922166,66.666667,125.058768,28.846154,259.321091,44.313725,-51.115911,-27.237354,87.791969,...,-90.845353,-66.042724,-66.418374,77.135901,69.107422,58.628904,194.092827,-47.591934,-29.550827,169.983416

In [25]:
dv.add_field('CCI10', ds)

Query data - query...
当前请求query...
{'fields': 'CCI10', 'view': 'factor'}
下载进度946/981.
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - daily fields prepared.

True

In [26]:
print(spearman_factor(factor_u='CCI10', factor_j='CCI10_J', start=20160101, symbol=stock_symbol))

(spearmanr    0.969564
dtype: float64, array([ 0.]))

## 6.alpha31

(CLOSE-MEAN(CLOSE,12))/MEAN(CLOSE,12)*100

In [27]:
dv.add_formula("alpha31","(close-Ts_Mean(close,12))/Ts_Mean(close,12)*100", is_quarterly=False,add_data=True).tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000025.SZ,000027.SZ,000028.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,0.594711,2.763366,2.524771e-13,0.898056,-1.386819,-4.123101,-0.683132,-3.709330,-1.098901e-01,2.725628,...,2.565684,-2.114570,-0.979164,2.425925,-4.991522,3.024390,1.258482,-4.259495,-0.545522,-2.670025
20171226,3.334804,3.005741,2.524771e-13,3.315950,-0.964187,-2.091801,0.445143,-2.209243,4.389679e-14,2.655634,...,0.004184,0.412903,0.080745,1.406165,-3.714710,6.151677,2.687460,-1.950666,-1.214083,-2.751830
20171227,0.669107,3.734067,2.524771e-13,2.840295,-0.541038,-2.434158,-2.985856,-2.110493,-4.258827e-01,3.802758,...,-0.928232,-1.274308,-0.706203,-0.960263,-1.657699,1.790281,0.355138,-3.963572,-2.745363,-0.354430
20171228,-0.056743,3.103747,2.524771e-13,1.852396,-0.576967,-1.374812,-0.791098,-1.666596,-5.907405e-01,3.258936,...,-2.289673,-1.473069,-0.912281,-0.707566,1.748610,-0.198020,1.230349,-2.049294,-2.880103,6.279217
20171229,0.516438,3.986831,2.524771e-13,2.459016,0.323774,2.145663,1.152213,-1.216306,-1.098901e-01,3.157504,...,-1.549111,-0.767430,-0.474599,1.621017,1.015370,2.345104,4.090316,-1.413833,0.050715,4.150372

## 7.ChandeSU

20日内max(close_i-close_i-1,0)加总

In [28]:
dv.add_formula("ChandeSU_J","Ts_Sum(Max(close-Delay(close,1),0),20)",is_quarterly=False,add_data=True).tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000025.SZ,000027.SZ,000028.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,2.04,6.49,0.0,0.89,0.67,0.93,2.03,3.53,0.43,8.91,...,20.19,4.31,5.72,8.65,4.93,11.83,2.61,4.37,5.36,1.20
20171226,2.45,6.62,0.0,1.06,0.55,0.88,1.97,3.62,0.41,8.25,...,17.82,5.29,5.52,8.65,4.13,13.14,2.93,4.48,4.72,0.92
20171227,2.33,3.84,0.0,1.05,0.45,0.68,1.97,1.69,0.41,8.89,...,17.82,5.29,5.52,8.31,3.42,13.14,2.82,4.48,4.67,0.88
20171228,2.33,3.84,0.0,0.92,0.45,0.72,2.22,1.72,0.34,8.13,...,17.82,4.82,5.52,8.60,4.37,10.97,3.03,4.86,4.67,1.27
20171229,2.42,4.20,0.0,0.90,0.50,0.98,2.18,1.78,0.37,6.36,...,16.78,5.07,2.85,10.48,4.22,13.06,3.51,4.23,4.92,1.24

In [29]:
dv.add_field('ChandeSU',ds)

Query data - query...
当前请求query...
{'fields': 'ChandeSU', 'view': 'factor'}
下载进度946/981.
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - daily fields prepared.

True

In [30]:
print(spearman_factor(factor_u='ChandeSU', factor_j='ChandeSU_J', start=20160101, symbol=stock_symbol))

(spearmanr    0.960129
dtype: float64, array([ 0.]))

## 8.MA10RegressCoeff6

def MAReg (df,m=10,n=6): #默认MA10RegressCoeff6
    t=np.arange(1,n+1) #周期序数
    var=np.cov(t,t)[0][0]
    ma=pd.rolling_mean(df,m) #计算MA
    rd=pd.DataFrame(index=df.index,columns=df.columns) #要输出的df
    l=len(df.index) #日期长度
    for k in df.columns:
        s=ma[k]
        rs=pd.Series(index=df.index)
        for i in np.arange(m+n-2,l):
            rs[rs.index[i]]=np.cov(s[s.index[i-5:i+1]],t)[0][1]/var #得到beta
        rd[k]=rs
    return rd

In [31]:
dv.add_formula("MA10RegressCoeff6_J","Ta('LINEARREG_SLOPE',0,0,0,0,Ta('SMA',0,0,0,0,close,0,10),0,6)",
               is_quarterly=False,
               add_data=True).tail()

,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000025.SZ,000027.SZ,000028.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,0.028343,-0.075257,2.165464e-15,0.004629,-0.014200,-0.057429,0.060857,-0.080200,0.008000,-0.048400,...,1.016086,-0.138343,-0.009286,0.566514,-0.033857,0.331400,0.111600,0.081200,0.162057,-0.010343
20171226,0.033286,-0.012143,2.165464e-15,0.009171,-0.018286,-0.057143,0.052629,-0.124886,0.006086,0.059229,...,0.857371,-0.149429,-0.010571,0.510914,-0.072057,0.393943,0.110000,0.018743,0.127371,-0.018143
20171227,0.030457,0.042114,2.165464e-15,0.016200,-0.019686,-0.057600,0.040886,-0.150057,0.003886,0.156000,...,0.643371,-0.133943,-0.012171,0.394171,-0.090857,0.464171,0.092086,-0.036514,0.073286,-0.023600
20171228,0.023543,0.062257,2.165464e-15,0.023143,-0.018771,-0.060229,0.023143,-0.158457,0.001543,0.232000,...,0.353057,-0.123771,-0.028429,0.258057,-0.084257,0.465200,0.066714,-0.080343,-0.003057,-0.023371
20171229,0.028257,0.090743,2.165464e-15,0.031971,-0.016657,-0.051657,0.011200,-0.154286,-0.000943,0.290629,...,0.135286,-0.108657,-0.038229,0.176829,-0.053486,0.437400,0.049657,-0.094086,-0.048514,-0.012371

In [32]:
dv.add_field('MA10RegressCoeff6')

Query data - query...
当前请求query...
{'fields': 'MA10RegressCoeff6', 'view': 'factor'}
下载进度946/981.
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - daily fields prepared.

True

In [33]:
print(spearman_factor(factor_u='MA10RegressCoeff6', factor_j='MA10RegressCoeff6_J', start=20160101, symbol=stock_symbol))

(spearmanr    0.966751
dtype: float64, array([ 0.]))